src/main/mule/trial.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="0a6ef4dc-ca9e-460c-880b-3e03681710bc" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="trialFlow" doc:id="8e4e9898-fefd-41c0-bae9-f3105c568026" >
		<http:listener doc:name="Listener" doc:id="87329934-4d69-4f4f-a003-8fbfadf532f3" config-ref="HTTP_Listener_config" path="/trial"/>
		<set-payload value="firstgit" doc:name="Set Payload" doc:id="241fd0d2-edc0-4c74-9b97-29af21ca931f" />
		<logger level="INFO" doc:name="Logger" doc:id="063b8b0c-b5b6-4a0b-90c3-4edf4a4e10e7" message="#[payload]"/>
	</flow>
</mule>
